<template>
	<div>
		<div>
			<!-- <router-link to="/">首页</router-link> >> <router-link to="/list/">栏目明</router-link> -->
		</div>
		
		<div class="title">
			{{ newsInfo.title }}
		</div>
		<div class="content" v-html="newsInfo.content">
			
			<!-- {{ newsInfo.content }} -->
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				newsId:0,
				typeId:0,
				newsInfo:{}
			}
		},
		created() {
			this.newsId = this.$route.query.newsId
			this.typeId = this.$route.query.typeId
			
		},
		mounted() {
			this.getNewsInfo()
		},
		methods: {
			getNewsInfo() {
				this.axios.get('details', {
					params: {
						newsId: this.newsId
					}
				}).then((res) => {
					console.log(res);
					this.newsInfo = res.data.data
				})
			}
		},
	}
</script>

<style scoped>
	.title{
		font-size: 22px;
		margin: 10px;
	}
</style>