<template>
	<div>
		文章内容页<br>
		文章id: {{typeId}}
		<div class="newsList">
			<ul>
				<li v-for="(item,index) in newsList" :key="index" @click="goInfo(typeId,item.newsId)">
					{{ item.title }}
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				typeId: 0,
				newsList: []
			}
		},
		watch: {
			$route(to, from) {
				this.typeId = to.query.typeId
				this.getList()
			}
		},
		created() {
			this.typeId = this.$route.query.typeId
		},
		mounted() {
			this.getList()
		},
		methods: {
			getList() {
				this.axios.get('http://localhost:1337/api/titles', {
					params: {
						id: "1",
					}
				}).then((res) => {
					console.log(res.data.data[0].attributes.NewsTitle);
					this.newsList = res.data.data
				})
			},
			goInfo(typeId,newsId){
				console.log(typeId,newsId);
				this.$router.push(`/info?typeid=${typeId}&newsId=${newsId}`)
			}
		},

	}
</script>

<style>
</style>
