<template>
	<div>
		<ul>
			<li v-for="item in bodies" @click="getBodyById(item.id)"> {{ item.attributes.Title }}</li>
		</ul>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				bodies: []
			}
		},
		created() {
			this.getBodies()
		},
		methods: {
			getBodies() {
				this.axios.get('bodies',{
				}).then((res) => {
					this.bodies = res.data.data
				})
			},
			getBodyById(id) {
				var body = this.bodies.filter((item) => item.id == id);
				alert(body[0].attributes.Content)
			}
		}
	}
</script>

<style>
	li {
		list-style-type: none;
		height: 88px;
		line-height: 88px;
		font-size:15px;
        padding:5px 15px;
        border-bottom:3px transparent solid;
        border-image:linear-gradient(to right,#000718,#23b7cb) 1 10;
	}
	li:hover {
		background-color: #e7efff;
	}
</style>