<template>
	<div>
		<div class="header">
			<img src="../assets/images/cms-logo-logo.png" alt="">
			<div class="webtitle">
				内容管理接口测试
			</div>
			<!-- <nav-list></nav-list> -->
		</div>
		<div class="body">
			<nav-article></nav-article>
		</div>
	</div>
	
</template>

<script>
	export default {
		components:{
			// 'nav-list':() => import('@/components/NavList'),
			'nav-article':() => import('@/components/Article'),
		}
	}
</script>

<style>
	.header {
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgb(41, 175, 276);
		height: 88px;
		line-height: 88px;
		color: white;
	}

	.header img {
		width: auto;
		height: 150px;
		margin-right: 10px;
	}

	.body {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.webtitle {
		font-size: 20px;
		margin-right: 10px;
	}
</style>
