<template>
	<div>
		<ul>
			<li v-for="item in navList" @click="goList(item.typeId)"> {{ item.typeName }}</li>
		</ul>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				navList: []
			}
		},
		created() {
			this.getNavList()
		},
		methods: {
			getNavList() {
				this.axios.get('types',{
				}).then((res) => {
					// console.log(res);
					this.navList = res.data.data
					// console.log(this.navList);
				})
			},
			goList(id){
				this.$router.push('/list?typeId=' + id)
			}
			
			
		},
	}
</script>

<style>
	li {
		margin-right: 10px;
		cursor: pointer;
	}
</style>