<template>
	<div id="app">
		<header-com></header-com>
		<div class="content">
			<router-view></router-view>
		</div>
		
	</div>
</template>

<script>
	export default {
		name: 'app',
		components: {
			'header-com': () => import("@/components/Header")
		},
	}
</script>

<style>
	* {
		padding: 0;
		margin: 0;
	}
	.content {
		width: 770px;
		margin: 0 auto;
	}
</style>
